@charset "UTF-8";
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100vw;
}

body {
  height: 100%;
  overflow-x: hidden;
}

#enable-dark {
  position: absolute;
  z-index: 10;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  width: 80px;
  height: 40px;
  border-radius: 22px;
  cursor: pointer;
  outline: none;
  background: #494949;
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
  padding-top: 1px;
  text-align: center;
  top: 10px;
  left: 10px;
}

#enable-dark:after {
  content: "🌞";
}

#enable-dark:checked:after {
  content: "🌙";
}

#enable-dark:checked {
  background: #ececec;
}

#enable-dark:checked + .wrapper {
  -webkit-filter: invert(1) hue-rotate(180deg);
          filter: invert(1) hue-rotate(180deg);
  background-color: #eae9e9;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1446px;
  margin: 0 auto;
  padding: 0 30px;
}

.header-logo {
  width: 200px;
  height: 45px;
}

.header-nav, .footer-nav {
  width: 300px;
  height: 30px;
}
.header-nav ul, .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-nav ul li, .footer-nav ul li {
  margin-top: 7px;
}
.header-nav ul li a, .footer-nav ul li a {
  text-decoration: none;
  font-family: "DM Sans";
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.468947px;
  color: #696871;
}
.header-nav ul li a:hover, .footer-nav ul li a:hover {
  padding-bottom: 5px;
  color: #19191B;
  border-bottom: 2px solid #5454D4;
}
.header-nav ul li a:visited, .footer-nav ul li a:visited {
  text-decoration: none;
}
.header-nav ul li a:active, .footer-nav ul li a:active {
  color: red;
}

.get-started-button {
  margin-left: 70px;
  height: 60px;
  width: 211px;
  font-family: "DM Sans";
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.531474px;
  border-radius: 10px;
  color: #FF7143;
  background: white;
  border: 2px solid #FF7143;
}
.get-started-button:hover {
  cursor: pointer;
  background: #FF7143;
  color: white;
}

.header-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
}

.header-slogan {
  font-family: "DM Sans";
  font-size: 80px;
  line-height: 77px;
  font-weight: bold;
  letter-spacing: -2.50105px;
  color: #19191B;
}

.header-description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
}

.header-main {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main-info {
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-main-img {
  width: 300px;
  height: 400px;
}

.create-account {
  width: 500px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input[type=text], input[type=email] {
  width: 300px;
  height: 40px;
  border: 3px solid #bbbbbb;
  border-radius: 30px;
  padding-left: 20px;
}

input[type=submit], input[type=reset] {
  width: 150px;
  height: 40px;
  border: 3px solid #bbbbbb;
  border-radius: 30px;
  cursor: pointer;
}

input[type=text]:focus, input[type=email]:focus {
  border: 5px solid black;
}

input {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.account-header {
  font-family: "DM Sans";
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2.50105px;
  color: #19191B;
}

.scroll-down-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main {
  padding-top: 100px;
}

#main-header {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
}

.prices {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.price-element {
  width: 330px;
  height: 450px;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.price-element:hover {
  width: 350px;
  height: 470px;
  background: #FF7143;
}
.price-element:hover .price-element-button, .price-element:hover .price-element-info, .price-element:hover .price-element-name, .price-element:hover .price-element-price {
  color: white;
}
.price-element:hover .price-element-button {
  background: #9F3919;
  border: none;
}
.price-element:hover .price-element-button:hover {
  cursor: pointer;
}

.price-element-name {
  font-family: "DM Sans";
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.562737px;
  color: #696871;
}

.price-element-price {
  font-family: "DM Sans";
  font-size: 60px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1.03448px;
  color: #1D293F;
}

.price-element-info {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 50px;
  /* or 294% */
  text-align: center;
  letter-spacing: -0.531474px;
  color: #696871;
}

.price-element-button {
  background: #FFFFFF;
  border: 1px solid #EAE9F2;
  border-radius: 10px;
  width: 285px;
  height: 60px;
  font-family: "DM Sans";
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #5454D4;
}

.prices-header {
  font-family: "DM Sans";
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.87579px;
  color: #19191B;
  margin-bottom: 30px;
  text-align: center;
}

.main-text-wrapper {
  width: 100%;
  margin-top: 200px;
}

.main-text {
  text-align: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
}
.main-text:first-line {
  color: #000000;
  font-weight: 800;
  font-size: 20px;
}

.main-text-header {
  margin-bottom: 30px;
  text-align: center;
  font-family: "DMSans";
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1.56316px;
  color: #19191B;
}

ol li, dd, dt {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
}

.other-elements {
  margin-top: 200px;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.code {
  display: block;
  margin-top: 50px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
}

.footer {
  background-color: #dedede;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100px;
}

.link {
  width: 30px;
  height: 30px;
}

.footer-text {
  display: block;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
}

.links {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}